# build noise
build/*
compile_commands.json

# osx noise
.DS_Store
profile

# emacs noise
*~

# visual studio noise
*.user
*.sdf
*ipch/
*.userprefs

# KDE Dolphin (file manager) noise
.directory

# CLion IDE noise
.idea

# KDevelop noise
.kdev4
opentxs-proto.kdev4

# Kate noise
*.kate-swp

# Patch noise
*.rej
*.orig

# Visual Studio Code noise
.vs

/build/
