# build noise
build/*

# osx noise
.DS_Store
profile

# emacs noise
*~

# visual studio noise
*.user
*.sdf
*ipch/
*.userprefs

*.pb.cc
Bitcoin.cc
Generics.cc
Markets.cc
Moneychanger.cc

# KDE Dolphin (file manager) noise
.directory

# CLion IDE noise
.idea

# KDevelop noise
.kdev4
opentxs-proto.kdev4

# Kate noise
*.kate-swp

# Patch noise
*.rej
*.orig

